---
export interface Props {
    href: string
    label: string
    viewbox?: string | null | undefined
}

const {href, label, viewbox = "0 0 20 20"} = Astro.props
---

<li>
    <a href={href} class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
        <svg aria-hidden="true" class="flex-shrink-0 w-11 h-11 md:w-6 md:h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox={viewbox} xmlns="http://www.w3.org/2000/svg">
            <slot />
        </svg>
        <span class="flex-1 ml-3 whitespace-nowrap max-md:hidden">{label}</span>
    </a>
</li>
