---
import NavButton from '../components/NavButton.astro';
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-white dark:bg-gray-900 min-h-screen max-xl:w-full">
		<div class="flex m-auto w-fit max-xl:w-full">
			<div class="fixed top-0 ml-1">
				<aside class="w-16 md:w-64 mt-5" aria-label="Sidebar">
					<div class="overflow-y-auto md:py-4 md:px-3 bg-gray-50 rounded-md dark:bg-gray-800">
						<ul class="space-y-2">
							<NavButton href="/" label="home" viewbox="0 0 365.001 365.001">
								<g xmlns="http://www.w3.org/2000/svg">
									<g>
										<path d="M360.74,155.711l-170-149c-4.717-4.133-11.764-4.133-16.48,0l-170,149c-5.191,4.55-5.711,12.448-1.161,17.641    c4.55,5.19,12.449,5.711,17.64,1.16l13.163-11.536V348.89c0,6.903,5.596,12.5,12.5,12.5h94.733h82.73h94.732    c6.904,0,12.5-5.597,12.5-12.5V162.977l13.163,11.537c2.373,2.078,5.311,3.1,8.234,3.1c3.476,0,6.934-1.441,9.405-4.261    C366.452,168.159,365.932,160.262,360.74,155.711z M153.635,336.39V233.418h57.729v102.973L153.635,336.39L153.635,336.39z     M306.099,141.161V336.39h-69.732V220.918c0-6.903-5.598-12.5-12.5-12.5h-82.73c-6.903,0-12.5,5.597-12.5,12.5v115.473H58.903    V141.161c0-0.032-0.004-0.062-0.004-0.093L182.5,32.733l123.603,108.334C306.104,141.1,306.099,141.129,306.099,141.161z"/>
										<path d="M154.5,120.738c0,6.904,5.596,12.5,12.5,12.5h31c6.903,0,12.5-5.596,12.5-12.5s-5.597-12.5-12.5-12.5h-31    C160.097,108.238,154.5,113.834,154.5,120.738z"/>
									</g>
								</g>
							</NavButton>
							<NavButton href="/v" label="Videos" viewbox={"0 0 24 24"}>
								<path xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" d="M1.75 4.5a.25.25 0 00-.25.25v14.5c0 .138.112.25.25.25h20.5a.25.25 0 00.25-.25V4.75a.25.25 0 00-.25-.25H1.75zM0 4.75C0 3.784.784 3 1.75 3h20.5c.966 0 1.75.784 1.75 1.75v14.5A1.75 1.75 0 0122.25 21H1.75A1.75 1.75 0 010 19.25V4.75z"/>
								<path xmlns="http://www.w3.org/2000/svg" d="M9 15.584V8.416a.5.5 0 01.77-.42l5.576 3.583a.5.5 0 010 .842L9.77 16.005a.5.5 0 01-.77-.42z"/>
							</NavButton>
							<NavButton href="/p" label="Pictures" viewbox="0 0 479.999 479.999">
								<g xmlns="http://www.w3.org/2000/svg">
									<g>
										<g>
											<path d="M469.341,0H117.184c-5.523,0-10,4.477-10,10v38.366L8.695,68.086c-5.377,1.077-8.884,6.282-7.861,11.67l74.421,392.108     c0.504,2.655,2.061,4.993,4.317,6.482c1.647,1.087,3.565,1.653,5.508,1.653c0.717,0,1.438-0.077,2.149-0.234l275.581-60.65     h106.532c5.523,0,10-4.477,10-10V10C479.341,4.477,474.864,0,469.341,0z M92.984,458.021L22.329,85.753l84.854-16.991v340.353     c0,5.523,4.477,10,10,10H269.76L92.984,458.021z M459.341,399.115h-97.706v0.001c-0.025,0-0.05,0-0.075,0H127.184v-68.768     L236.08,221.452l70.249,79.109c1.83,2.06,4.428,3.274,7.182,3.355c2.753,0.086,5.42-0.977,7.368-2.926l96.523-96.551     l41.939,42.769V399.115z M459.341,218.643l-34.73-35.418c-1.869-1.906-4.422-2.985-7.092-2.999     c-2.645-0.039-5.233,1.042-7.121,2.93l-96.162,96.189l-70.248-79.108c-1.83-2.06-4.428-3.274-7.181-3.355     c-2.75-0.078-5.419,0.977-7.368,2.924L127.184,302.063V20h332.157V218.643z"/>
											<path d="M316.232,204.149c39.499,0,71.633-32.134,71.633-71.633s-32.134-71.633-71.633-71.633     c-39.499,0-71.633,32.134-71.633,71.633S276.734,204.149,316.232,204.149z M316.232,80.884c28.47,0,51.633,23.163,51.633,51.633     c0,28.47-23.163,51.633-51.633,51.633c-28.47,0-51.633-23.163-51.633-51.633C264.599,104.047,287.762,80.884,316.232,80.884z"/>
										</g>
									</g>
								</g>
							</NavButton>
							<NavButton href="/c" label="Comics" viewbox="0 0 489.4 489.4">
								<g><g>
									<path xmlns="http://www.w3.org/2000/svg" d="M453.7,20.4c0-11.2-9.2-20.4-20.4-20.4H114.2C70.4,0,35.7,34.7,35.7,77.5c0,0,0,349.5,0,349.7c0,34.7,28.5,62.2,63.2,62.2    h333.4c8.2,0,16.3-5.1,19.4-13.3c3.1-8.2,1-17.3-6.1-22.4c-18.1-11.5-19.2-36.7-3.1-47.9c3.4-3.4,11.1-10.4,10.5-20.4    C453.5,383.8,453.7,20.4,453.7,20.4z M76.5,427.2c0-12.2,10.2-21.4,22.4-21.4h293.7c-9,15-7.1,32.6,0,42.8H98.9    C86.7,448.6,76.5,439.5,76.5,427.2z M413,365H99c-7.9,0-15.4,1.5-22.4,4.2V77.5c0-20.4,17.3-36.7,37.7-36.7h298.8V365H413z"/>
								</g></g>
							</NavButton>
						</ul>
					</div>
				</aside>
			</div>
			<div class="text-gray-900 dark:text-white m-5 max-md:mr-0 overflow-y-auto bg-gray-50 rounded-md dark:bg-gray-800 min-h-screen w-full xl:w-[60rem] ml-[4.5rem] md:ml-[17rem]">
				<slot />
			</div>
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
